$menu-background-color: #21242d;
$carousel-background: #16181e73;
$hover-color: #d8f2f1;
$gray-color: #424447;
$hover-input-color: #d4e7ff;
$border-hover-color: #28292b;
$background-active: #c7cfdb;
$rating-background-color: #290741;

$btn-padding-top: 10px;
$btn-padding-right: 20px;






$main-color: #00b9ae;
$focus-color: #00fff0;
$background-color: #2d395c;
$text-color: #fffce1;
