<!-- <p>{{user?.name}} {{user?.surname}} {{user?.country}} {{user?.phone}}</p> -->
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">

  <div class="user-name field-wrapper">
    <input type="text" placeholder="Username" formControlName="username" />
    <div class="error" *ngIf="editForm.get('username')?.errors?.['required'] && editForm.get('username')?.touched">
      Username is required.
    </div>
    <div class="error" *ngIf="editForm.get('username')?.errors?.['minlength'] && editForm.get('username')?.touched">
      Username should be at least 3 characters.
    </div>
  </div>

  <div class="user-surname field-wrapper">
    <input type="text" placeholder="Surname" formControlName="surname" />
    <div class="error" *ngIf="editForm.get('surname')?.errors?.['required'] && editForm.get('surname')?.touched">
      Surname is required.
    </div>
    <div class="error" *ngIf="editForm.get('surname')?.errors?.['minlength'] && editForm.get('surname')?.touched">
      Surname should be at least 3 characters.
    </div>
  </div>

  <div class="user-email field-wrapper">
    <input type="email" placeholder="Enter your email address" formControlName="email" />
    <div class="password-block">
      <div class="error" *ngIf="!editForm.get('email')?.valid && editForm.get('email')?.touched">
        Please, enter correct email (ex&#64;ex.com)</div>
    </div>
  </div>

  <div class="date">
    <input type="text" placeholder="Date of birth" formControlName="dateOfBirth" />
    <div class="error"
      *ngIf="editForm.get('dateOfBirth')?.errors?.['required'] && editForm.get('dateOfBirth')?.touched">
      Date of birth is required.
    </div>
  </div>

  <div class="country">
    <input type="text" placeholder="Nationality" formControlName="nationality" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of countries" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="phone ">
    <app-custom-phone-input formControlName="phone"></app-custom-phone-input>
  </div>

  <br>
  <h2>Addresses</h2>

  <div formArrayName="addresses">
    <div class="address" *ngFor="let address of addresses.controls; let i = index" [formGroupName]="i">
      <div class="country">
        <input type="text" placeholder="Country" formControlName="country" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of countries" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
      <input type="text" formControlName="street" placeholder="Street">
      <input type="text" formControlName="city" placeholder="City">
      <input type="text" formControlName="zip" placeholder="Zip">
      <button type="button" (click)="removeAddress(i)">Remove address</button>
    </div>
  </div>

  <button type="button" (click)="addAddress()" class="button">Add Address</button>
  <hr>
  <button type="button" class="button" (click)="deleteUser()">Delete</button>
  <button [disabled]="!editForm.valid" class="button">Save</button>
</form>
